<h1>Show page</h1>

<table>
    <colgroup span="5"></colgroup>
    <tr>
      <th>Cat Name</th>
      <th>Birth Date</th>
      <th>Color</th>
      <th>Sex</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><%=@kitty.name%></td>
      <td><%=@kitty.birth_date%></td>
      <td><%=@kitty.color%></td>
      <td><%=@kitty.sex%></td>
      <td><%=@kitty.description%></td>
    </tr>
  </table>